/* 
    Document   : newcss
    Created on : Aug 24, 2013, 10:34:16 AM
    Author     : graysonmitchell
    Description:
        Purpose of the stylesheet follows.
*/


h1 {
    font: Arial;
    font-size: 18pt;
    color: red
}

body {
    margin: 0px;
    padding: 0px;
    background: black;
}

p {
    color: red
}

#hexCanvas {
    background: black;
    margin:0;
    width:100%;
    height:100%;
}

#optionsCanvas {
    width:200px;
    height:200px;
    
    top:10px;
    right:10px;
    border-radius: 5px;
    background:green;
    position:absolute;
    z-index: 1000;
}

#recreateButton {
    top: 180px;
    right: 20px;
    position: absolute;
    z-index:1001;
}

#hexSize {
    top: 180px;
    right: 130px;
    width: 60px;
    position: absolute;
    z-index:1001;    
}


    
    


#optionsCanvas {
 width:50px;
 height:200px;
 top:50px;
 left:200px;    
     background:green;
     position:absolute;
     z-index: 1000;
}
